@model IEnumerable<STinMVC.Models.Student>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Transaction Page</h2>


    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransID)&nbsp;&nbsp;&nbsp;
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemID)&nbsp;&nbsp;&nbsp;
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransType)&nbsp;&nbsp;&nbsp;
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransQty)&nbsp;&nbsp;&nbsp;
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransQty)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.TransID  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.TransID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TransID })
                </td>
            </tr>
        }

    </table>
    <br />
  

    <a href="/Home/Index">Item Page</a>
</body>
</html>
